// src/components/Layout.scss

.layout {
  display: flex;
  width: 99vw;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 7vh;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    .toggle-btn {
      font-size: 24px;
      cursor: pointer;
      margin: 10px;
    }

    @media (max-width: 768px) {
      .toggle-btn {
        display: block;
      }
    }
  }
}
